<footer id="main-footer" class="py-4 bg-primary text-white text-center">
  <div></div>
    Copyright &copy;
    <span class="year"></span> Gibran Esparza Realtors
    
      <div class="social text-center">
          <a href="#">
          <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
          <i class="fab fa-facebook"></i>
          </a>
          <a href="#">
          <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
          <i class="fab fa-instagram"></i>
          </a>
      </div>
      <div class="col-md-auto">
        <i class="fas fa-phone"></i> (503)437-5490
      </div>
      <div class="col-md-auto">
        <i class="fas fa-envelope-open"></i> gibran.e@realestate.com
      </div>
      
  </div>
  </footer>
